.git
.github
.tsbuildinfo
coverage
node_modules
**/node_modules
shared/js
solidity/artifacts
solidity/coverage
solidity/js
solidity/ts/**/*.d.ts
solidity/ts/**/*.d.ts.map
solidity/ts/**/*.js
solidity/ts/**/*.js.map
solidity/ts/types/contractArtifact.ts
ui/dist
ui/js
ui/vendor
ui/ts/**/*.d.ts
ui/ts/**/*.d.ts.map
ui/ts/**/*.js
ui/ts/**/*.js.map
ui/ts/abis.ts
ui/ts/contractArtifact.ts
ui/ts/deploymentArtifacts.ts
ui/ts/deploymentsArtifacts.ts
