node_modules/
/solidity/artifacts
/solidity/node_modules
/solidity/js
solidity/user-config.json
solidity/ts/types/contractArtifact.ts
solidity/types/contractArtifact.ts
.tsbuildinfo
/ui/js
/ui/vendor
/ui/ts/abis.ts
/ui/ts/contractArtifact.ts
/ui/ts/deploymentArtifacts.ts
/ui/ts/deploymentsArtifacts.ts
solidity/.contract-hash.json
